  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
    <% if @trip.photo.attached? %>
      <%= cl_image_tag trip.photo.key, height: 150, width: 500, crop: :fill %>
    <% else %>
        <img src="https://images.unsplash.com/photo-1500534314209-a25ddb2bd429?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" height="300" width="500" crop= "fill" >
    <% end %>
  <div class="container">
  <h1><%= @trip.title.upcase %></h1>
  </div>
</div>

<div class="container">

  <div class= "edit">
    <%= link_to "Delete",
      trips_path(@trip),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
    <i class="fa-solid fa-trash-can"></i>
    <%= link_to "Update", edit_trip_path(@trip) %>
    <i class="fa-solid fa-pen"></i>
  </div>
  <%= link_to "Back to trips", trips_path, class: "btn" %>

  <div class="tripinfo">
    <p><span> <%= @trip.departure.strftime("%b %d") %> </span> to <span><%= @trip.return_day.strftime("%b %d, %Y") %> </span></p>
    <p><%= @trip.notes %></p>
    <h2><%= @trip.location %></h2>
  </div>

<%= form_with url: trip_path, method: :get, class: "d-flex friend-form" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Add a friend to your trip"
      %>
      <%= submit_tag "", class: "btn-search" %>
<i class="fa-solid fa-user-group"></i>
    <% end %>

  <div class="container">


    <div class="friend-list">
      <% if @friends.present? %>
        <% @friends.flatten.each do |friend| %>
          <li> @<%= friend["nickname"].downcase %> </li>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="comp-menu">
    <div class="comp-menu-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%= link_to "Activities",  new_trip_activity_path(@trip) %>
    </div>

    <div class="comp-menu-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      <%= link_to "Transport",  new_trip_transportation_path(@trip) %>
    </div>

    <div class="comp-menu-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      <%= link_to "Booking",  new_trip_accommodation_path(@trip) %>
    </div>
  </div>

  <div>
    <h3>Accommodations</h3>
    <div class="component">
      <% @accommodations.each do |item| %>
        <div>
          <p><span> <%= item.departure.strftime("%B %e %Y")  %> </span> - <span> <%= item.return_day.strftime("%B %e %Y")  %> </span></p>
          <p> <%= item.booking_ref  %> </p>
          <p> <%= item.location  %> </p>

        </div>
      <% end %>
    </div>
  </div>

  <div>
    <h3>Activities</h3>
    <div class="component">
      <% @activities.each do |item| %>
        <div>
          <p> <%= item.name  %> </p>
          <p> <%= item.booking_ref  %> </p>
          <p> <%= item.date.strftime("%B %e %Y")  %> </p>

          <p> <%= item.location  %> </p>
          <p><span> <%= item.start_time.strftime("%l:%M %p")  %> </span> - <span> <%= item.end_time.strftime("%l:%M %p")  %> </span></p>

        </div>
      <% end %>
    </div>
  </div>

  <div>
    <h3>Transportations</h3>
    <div class="component">
      <% @transportations.each do |item| %>
        <div>
          <p><span> <%= item.departure.strftime("%B %e %Y")  %> </span> - <span> <%= item.return_day.strftime("%B %e %Y")  %> </span></p>
          <p> <%= item.transport_mode  %> </p>
          <p> <%= item.booking_ref  %> </p>
          <p> <%= item.location  %> </p>

        </div>
      <% end %>
    </div>
  </div>
  <div class="modal-map">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Open modal
      </button>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="map-wrapper" id="map" style="width: 100%; height: 500px;"
                 data-controller="map"
                 data-map-markers-value="<%= @markers.to_json %>"
                 data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
          </div>
      </div>
      </div>
  </div>

  <div style="width: 100%; height: 300px;"
 

    <%# <%= cl_image_tag @trip.transportations.last.photo.key, format: :jpeg, height:150, crop: :fill %>
</div>
