
<%= render "shared/navbar" %>


<div class="banner">
  <% if @trip.photo.attached? %>
    <div class="card-category"
         style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @trip.photo.key, crop: :fill %>'); background-repeat: no-repeat; background-size: cover; height: 300px; background-position: center;">
    </div>
  <% else %>
      <img class="banner-img" src="https://images.unsplash.com/photo-1500534314209-a25ddb2bd429?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" crop= "fill" >
  <% end %>
  <div class="trip-info">
    <h1><%= @trip.title.upcase %></h1>
    <h2><span> <%= @trip.departure.strftime("%b %d") %> </span> to <span><%= @trip.return_day.strftime("%b %d, %Y") %> </span></h2>
    <p> 📍 <%= @trip.location %></p>
  </div>
  <div class ="edit-trip">
    <%= link_to edit_trip_path(@trip) do %>
      <i class="fa-solid fa-pen border border-1"></i>
    <% end %>
  </div>
</div>

<div class="container friends-wrapper">

  <div id="search" class="search d-flex justify-content-center align-items-center">
    <%= form_with url: trip_path, method: :get, class: "d-flex friend-form" do %>
      <%= text_field_tag :query,
        params[:query],
        placeholder: "Add a friend to your trip" %>
      <%= submit_tag "", class: "btn-search" %>
      <i class="fa-solid fa-user-group"></i>
    <% end %>
  </div>

  <div class="friends">
    <% unless @friends.empty? %>
      <ul class="friends-list">
        <% @friends.each do |friend| %>
          <li class="friends-item">
            <%= cl_image_tag friend.user.photo.key, class: "avatar dropdown-toggle" %>
            <span class="friends-desc">@<%= friend.user.nickname.downcase %></span>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="floating-container">
    <div class="floating-button"><i class="fa-solid fa-plus"></i></div>
    <div class="element-container">
        <span class="float-element tooltip-left">
          <%= link_to new_trip_activity_path(@trip) do %>
            <i class="fa-solid fa-child-reaching"></i>
          <% end %>
        </span>
        <span class="float-element">
          <%= link_to new_trip_transportation_path(@trip) do %>
            <i class="fa-solid fa-sailboat"></i>
          <% end %>
        </span>
        <span class="float-element">
          <%= link_to new_trip_accommodation_path(@trip) do %>
            <i class="fa-solid fa-bed"></i>
          <% end %>
      </span>
    </div>
  </div>

  <div class="box">
    <% if @components.empty? %>
      <h2 class="spaceholder">START PLANNING</h2>
      <p class="spaceholder"><i class="fa-regular fa-calendar-plus"></i></p>
    <% else %>
      <% @components.each do |comp| %>
        <% if comp.class.to_s == "Transportation" %>
          <div class="flip-card">
            <div class="card-wrapper">
              <div class="comp-card-info-tra">
                <%= render "trips/icon_comp_card_tra", transportation:comp %>
                <p><span><strong> <%= comp.departure.strftime("%B %e")  %> </span> - <span> <%= comp.return_day.strftime("%B %e, %Y")  %></strong> </span></p>
                <p>📍 <%= comp.location  %> </p>
              </div>
              <div class="back-side">
                <div class="comp-card-info-tra">
                  <div class="d-flex" style="height:160px;">
                    <div class="flex-grow-1 text-start">
                      <p><strong>Booking No.</strong> <%= comp.booking_ref  %></p>
                      <p><strong>Notes</strong> <%= comp.notes %></p>
                    </div>
                    <div class="d-flex flex-column justify-content-between">
                      <%= link_to edit_trip_transportation_path(comp.trip,comp) do %>
                        <i class="fa-solid fa-pen"></i>
                      <% end %>
                      <% if comp.photo.attached?  %>
                        <div type="button" class="pdf_button" data-bs-toggle="modal" data-bs-target="#pdfModal-<%= comp.id %>" >
                          <i class="fa-solid fa-file"></i>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="pdfModal-<%= comp.id %>" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
            <%= render "comp_modal", comp: comp %>
          </div>
        <% elsif comp.class.to_s == "Accommodation" %>
          <div class="flip-card">
            <div class="card-wrapper">
              <div class="comp-card-info-acc">
                <%= render "trips/icon_comp_card_acc", accommodation:comp %>
                <p><span><strong> <%= comp.departure.strftime("%B %e")  %> </span> - <span> <%= comp.return_day.strftime("%B %e, %Y")  %></strong> </span></p>
                <p>📍 <%= comp.location  %> </p>
              </div>
              <div class="back-side">
                <div class="comp-card-info-acc">
                  <div class="d-flex" style="height:160px;">
                    <div class="flex-grow-1 text-start">
                      <p><strong>Booking No.</strong> <%= comp.booking_ref  %></p>
                      <p><strong>Notes</strong> <%= comp.notes %></p>
                    </div>
                    <div class="d-flex flex-column justify-content-between">
                      <%= link_to edit_trip_accommodation_path(comp.trip,comp) do %>
                        <i class="fa-solid fa-pen"></i>
                      <% end %>
                      <% if comp.photo.attached?  %>
                        <div type="button" class="pdf_button pt-3" data-bs-toggle="modal" data-bs-target="#pdfModal-<%= comp.id %>" >
                          <i class="fa-solid fa-file"></i>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="pdfModal-<%= comp.id %>" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
            <%= render "comp_modal", comp: comp %>
          </div>
        <% else %>
          <div class="flip-card">
            <div class="card-wrapper">
              <div class="comp-card-info-act">
                <i class="fa-solid fa-child-reaching card-icon"></i>
                <strong><p> <%= comp.name.upcase %> </p></strong>
                <p><strong> <%= comp.date.strftime("%B %e, %Y")  %></strong></p>
                <p><span><strong> <%= comp.start_time.strftime("%l:%M %p")  %> </span> - <span> <%= comp.end_time.strftime("%l:%M %p")  %></strong> </span></p>
                <p>📍 <%= comp.location  %> </p>
              </div>
              <div class="back-side">
                <div class="comp-card-info-act">
                  <div class="d-flex" style="height:160px;">
                    <div class="flex-grow-1 text-start">
                      <p><strong>Booking No.</strong> <%= comp.booking_ref  %></p>
                      <p><strong>Notes</strong> <%= comp.notes %></p>
                    </div>
                    <div class="d-flex flex-column justify-content-between">
                      <%= link_to edit_trip_activity_path(comp.trip,comp) do %>
                        <i class="fa-solid fa-pen"></i>
                      <% end %>
                      <% if comp.photo.attached?  %>
                        <div type="button" class="pdf_button pt-3" data-bs-toggle="modal" data-bs-target="#pdfModal-<%= comp.id %>" >
                          <i class="fa-solid fa-file"></i>
                        </div>
                      <% end %>
                    </div>
                  <div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="pdfModal-<%= comp.id %>" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
            <%= render "comp_modal", comp: comp %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

  <div data-controller="map"
       class="modal-parent"
       data-map-markers-value="<%= @markers.to_json %>"
       data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  <div style="width: 100%; height: 200px;" data-map-target="smallMap"></div>

  <button type="button"
          class="open-modal"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          data-action="click->map#passPositionToModalMap">
    <i class="fa-solid fa-arrows-up-down-left-right"></i>
  </button>

  <div class="modal fade"
        data-action="change->map#switchToModalMap"
        data-action="hide.bs.modal->map#switchToSmallMap"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button"
                class="close-modal"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"><i class="fa-solid fa-xmark map-close"></i></i></button>
        <div style="width: 100%; height: 600px;"
            data-map-target="modalMap"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
  <%= render "shared/footer" %>
