<h1>Add your ride</h1>

<%= simple_form_for [@trip, @transportation] do |f| %>
  <%= f.input :booking_ref %>
  <%= f.input :departure, html5: true %>
  <%= f.input :return_day, as: :date, html5: true %>
  <%= f.input :transport_mode, collection: ["flight", "train", "boat", "bike", "car"], as: :radio_buttons %>
  <%= f.input :location %>
  <%= f.input :notes %>

  <%= f.submit "Save" %>
<% end %>
