<h1>New accomodation</h1>

<%= simple_form_for [@trip, @accommodation] do |f| %>
  <%= f.input :booking_ref %>
  <%= f.input :location %>
  <%= f.input :departure, as: :date, html5: true %>
  <%= f.input :return_day, as: :date, html5: true %>
  <%= f.input :notes %>
  <%= f.submit "Add accommodation" %>
<% end %>
