<h1>New accomodation</h1>

<%= simple_form_for [@trip, @accommodation], input_html: { multiple: true } do |f| %>
  <%= f.input :accommodation_mode,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'accommodation_mode-wrapper',
            item_wrapper_class: 'accommodation_mode-item',
            input_html: {class: 'accommodation_mode-selector'},
            legend_tag: false,
            collection: Accommodation::CATEGORIES %>

  <%= f.input :booking_ref %>
  <%= f.input :location,
    input_html: {data: {location_autocomplete_target: "location"}, class: 'd-none'},
    wrapper_html: {data: {controller: "location-autocomplete", location_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
  %>
  <%= f.input :departure, as: :date, html5: true %>
  <%= f.input :return_day, as: :date, html5: true %>
  <%= f.input :notes %>
  <%= f.submit "Add accommodation" %>

  <%= f.input :photo, as: :file %>
<% end %>

<%= link_to "Back", trip_path(@trip) %>
