<%= link_to trip_path(trip), class: "text-deco-none" do  %>
  <div class="card-trip">
      <% if trip.photos.any? %>
        <%= cl_image_tag trip.photos.first.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <img src="https://images.unsplash.com/photo-1500534314209-a25ddb2bd429?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"/>
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h3><%= trip.title.upcase %></h3>
          <p><%= trip.departure.strftime("%b %d") %> to <%= trip.return_day.strftime("%b %d, %Y") %></p>
        </div>
        <% if trip.user.avatar.attached? %>
          <%= cl_image_tag trip.user.avatar.key, class: "card-trip-user avatar-bordered" %>
        <% else %>
          <img src="https://static.vecteezy.com/ti/gratis-vektor/t2/5545335-benutzerzeichen-symbol-person-symbol-mensch-avatar-isoliert-auf-weiss-backogrund-vektor.jpg" class="card-trip-user avatar-bordered" />
        <% end %>
      </div>
  </div>
<% end %>
