<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to trips_path, class: "navbar-brand" do %>
      <i class="fi fi-tr-earth-africa"></i>
    <% end %>
    <% if user_signed_in? %>
      <% if current_user.avatar.attached? %>
        <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% else %>
      <%= cl_image_tag("https://res.cloudinary.com/djdcsvkqa/image/upload/v1677859505/production/7hstpkqimopvl3pt2czx7r0clplg.jpg", :width => 40, class: "profile-avatar", :id => "navbarDropdown", :data => { bs_toggle: "dropdown" } ) %>
        <%# <i class="fa-solid fa-circle-user" id="navbarDropdown" data-bs-toggle="dropdown"></i> %>
      <% end %>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to "Add a trip", new_trip_path, class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
      </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end %>
  </div>
</div>
