
  <div class="form-activities">
    <%= link_to trip_path(@trip), class: "d-flex justify-content-start text-decoration-none" do %>
      <i class="fa-solid fa-arrow-left" id="back_button"></i>
    <% end %>
    <h1 class="text-center fs-1 py-4" id="h1-color">Add your activity</h1>
    <%= simple_form_for [@trip, @activity] do |f| %>

      <%= f.input :name %>
      <%= f.input :booking_ref %>
      <%= f.input :date, as: :date, html5: true %>
      <%= f.input :start_time, as: :time, html5: true %>
      <%= f.input :end_time, as: :time, html5: true %>
      <%= f.input :location,
      input_html: {data: {location_autocomplete_target: "location"}, class: 'd-none'},
      wrapper_html: {data: {controller: "location-autocomplete", location_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
      <%= f.input :notes %>
  <div>
  <div class="input-container">
        <%= f.input :photo, as: :file, label: "Upload", class: "input-load"%>
          <i class="fa-solid fa-upload"></i>
  </div>      <div class="py-5">
        <%= f.submit "Save", class: "save" %>
      </div>
    <% end %>

  </div>
