<h1>New Activity</h1>

<%= simple_form_for [@trip, @activity] do |f| %>
  <%= f.input :name %>
  <%= f.input :booking_ref %>
  <%= f.input :date, as: :date, html5: true %>
  <%= f.input :start_time, as: :time, html5: true %>
  <%= f.input :end_time, as: :time, html5: true %>
  <%= f.input :notes %>
  <%= f.submit "Add activity" %>
<% end %>

<%= link_to "Back", trip_path(@trip) %>
